<!DOCTYPE html>
<html lang="en">
<head>
  {% block title %}<title>Login Form</title>{% endblock %}

  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/styleLogin.css' %}">
  <link rel="stylesheet" href="{% static 'css/bootstrap2.css' %}">

  <script type="text/javascript" charset="utf-8" src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
  <script type="text/javascript" charset="utf-8" src="{% static 'js/popper.min.js' %}"></script>
  <script type="text/javascript" charset="utf-8" src="{% static 'js/bootstrap.min.js' %}"></script>
</head>
<body>

{% block content %}
<div class="wrapper fadeInDown">
  <div id="formContent">

    <div class="fadeIn first">
      <img src="{% static 'images/icons8-school-480.png' %}" id="icon" alt="User Icon" />
      <h1>AutoStudy</h1>
    </div>

    <form method="post">
      {% csrf_token %}
  
      <input type="text" id="id_username" class="fadeIn second" name="username" placeholder="username">
      <input type="password" id="id_password" class="fadeIn third" name="password" placeholder="password">

      <input type="submit" class="fadeIn fourth" value="Sign in">
    </form>

    <!-- Remind Passowrd -->
    <div id="formFooter">
      <p class="credits" href="#">&copy; Mariusz Mieczkowskie, Piotr Bigos, Piotr Kłos</p>
    </div>

  </div>
</div>

{% endblock %}
</body>
</html>
