{% extends "base_generic.html" %}
{% block content %}
    <script>
    function refreshValue(id, value) {
        document.getElementById(id).innerText = value;
    }

    function setRangeValue(id, value) {
        document.getElementById(id).value = value;
    }
    </script>
    <div class="card p-3 my-5 bg-white rounded mx-auto">
        <div class="card-header">
            <span>{{user.username}}</span>
        </div>

        {% if user_subjects_count > 0 %}
        <div class="card-body">
            <h4 class="card-title"><a>Your subjects</a></h4>
                <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col" class="font-weight-bold">Name</th>
                        <th scope="col" class="font-weight-bold">HOURS</th>
                    </tr>
                </thead>
                <tbody>
                    {% for subject in user_subjects %}
                        <tr>
                            <td>{{ subject.subject.name }}</td>
                            <td>{{ subject.subject.hours }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
                </table>
            </div>
        {% endif %}
        
        
        <div class="card-body">

            <h4 class="card-title"><a>Rate all subjects</a></h4>

            <form action="{% url 'save_ratings' %}" method="post">
            {% csrf_token %}
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col" class="font-weight-bold">Subject</th>
                        <th scope="col" class="font-weight-bold"></th>
                        <th scope="col" class="font-weight-bold text-center">Rate value</th>
                    </tr>
                </thead>
                <tbody>
                {% for subject in all_subjects %}
                    <tr>
                        <td><label for="{{ subject.id }}">{{ subject.name }}</label></th>
                        <td class="d-flex"><span class="font-weight-bold mr-2">1</span><input class="custom-range" type="range" id="{{ subject.id }}" name="{{ subject.name }}" min="1" max="10" oninput="refreshValue('{{ subject.id }}_value', this.value)"><span class="font-weight-bold ml-2">10</span></th>
                        <td style="width: 20%; font-size: 1.2em; font-weight: bold;" class="text-center" id="{{ subject.id }}_value" >0</th>
                        <script>
                            setRangeValue('{{ subject.id }}', '1');
                        </script>
                        {% for rating in user_ratings %}
                            {% if rating.subject_id == subject %}
                                <script>
                                    refreshValue('{{ subject.id }}_value', '{{ rating.subject_rating }}');
                                    setRangeValue('{{ subject.id }}', '{{ rating.subject_rating }}');
                                </script>
                            {% endif %}
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
            </table>
            <input class="btn btn-info btn-block mx-auto" style="max-width: 200px" type="submit" value="SUBMIT">
            </form>
        </div>
    </div>
{% endblock %}