{% extends "base_generic.html" %}

{% block content %}
    <div class="card p-3 my-5 bg-white rounded mx-auto">
        <div class="card-header">
        <span>Solver</span>
      </div>
        <div class="card-body">
            <form action="{% url 'solve_problem' %}" method="post">
        {% csrf_token %}
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col" class="font-weight-bold">Username</th>
                        <th scope="col" class="font-weight-bold">Filled hours</th>
                    </tr>
                </thead>
                <tbody>
                {% for user in users %}
                    {% if user.username != "admin" %}
                        <tr>
                            <td><a href="{% url "show_user" parameter=user.username %}" style="text-decoration: none; color: #00ABEB">{{ user.username }}</a></td>
                            <td>{{ user.profile.filled_hours }} / {{ user.profile.hours }}</td>
                        </tr>
                    {% endif %}
                {% endfor %}
            </tbody>
            </table>
        <input class="btn btn-info btn-block mx-auto" style="max-width: 300px" type="submit" value="SOLVE KNAPSACK PROBLEM">
        </form>
        </div>
    </div>
{% endblock %}