{% extends "base_generic.html" %}


{% block content %}
    <script>
        $(document).ready(function () {
          $('#tableUsers').DataTable();
          $('.dataTables_length').addClass('bs-select');
        });
    </script>
    <div class="card p-3 my-5 bg-white rounded mx-auto" style="max-width: 1100px;  width: 90%; margin-bottom: 100px !important;">
        <div class="card-header bg-white">
            <ul class="nav nav-tabs card-header-tabs">
              <li class="nav-item">
                <a class="nav-link" href="{% url 'users' %}">USERS</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'subjects' %}">SUBJECTS</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="{% url 'subject_ratings' %}">SUBJECTS RATINGS</a>
              </li>
            </ul>
          </div>
        <div class="my-5 mx-auto" style="max-width: 800px; width: 90%;">
            <table id="tableUsers" class="table table-striped border-top border-bottom">
                <thead>
                    <tr>
                        <th class="font-weight-bold">#</th>
                        <th class="font-weight-bold">User</th>
                        <th class="font-weight-bold">Hours</th>
                        <th class="font-weight-bold">Rated everything</th>
                    </tr>
                </thead>
                <tbody>
                {% for rating in all_ratings %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td><a href="{% url "show_user" parameter=rating.user.username %}">{{ rating.user }}</a></td>
                        <td><a href="{% url "show_subject" parameter=rating.subject_id.name %}">{{ rating.subject_id }}</a></td>
                        <td>{{ rating.subject_rating }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}