{% extends "base_generic.html" %}

{% block content %}
    <div class="card p-3 my-5 bg-white rounded mx-auto">
        <div class="card-header">
            <span>{{} subject_name }}</span>
          </div>
        <div class="card-body">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col" class="font-weight-bold">USERNAME</th>
                        <th scope="col" class="font-weight-bold text-center">RATING</th>
                    </tr>
                </thead>
                <tbody>
                {% for subject_rate in subject_ratings %}
                   <tr>
                        <th>{{ subject_rate.user.username }}</th>
                        <th>{{ subject_rate.subject_rating }}</th>
                   </tr>
                {% endfor %}
                <tr>
                    <td style="color: #00ABEB; font-family: 'Roboto Light', serif; font-size: 16px">AVERAGE RATING:</td>
                    <td>{{ subject.get.average_rating|floatformat:2 }}</td>

                </tr>
            </tbody>
            </table>
        </div>
    </div>
{% endblock %}