{% extends "base_generic.html" %}

{% block content %}
    <div class="card p-3 my-5 bg-white rounded mx-auto">
        <div class="card-header">
        <span>{{ user_name.get.username }}</span>
      </div>
        <div class="card-body">

            <!-- <h4 class="card-title"><a>{{ user_name.get.username }}</a></h4> -->

            <h4 class="card-title"><a>SUBJECTS</a></h4>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col" class="font-weight-bold">SUBJECT</th>
                        <th scope="col" class="font-weight-bold">HOURS</th>
                    </tr>
                </thead>
                <tbody> 
                {% for subject in user_subjects %}
                   <tr>
                       <td><a href="{% url "show_subject" parameter=subject.subject.name %}">{{ subject.subject.name }}</a></td>
                        <td>{{ subject.subject.hours }}</td>
                   </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="card-body">
            <h4 class="card-title"><a>RATINGS</a></h4>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col" class="font-weight-bold">SUBJECT</th>
                        <th scope="col" class="font-weight-bold">RATING</th>
                    </tr>
                </thead>
                <tbody> 
                {% for user_rate in user_ratings %}
                   <tr>
                       <td><a href="{% url "show_subject" parameter=user_rate.subject_id.name %}">{{ user_rate.subject_id }}</a></td>
                        <td>{{ user_rate.subject_rating }}</td>
                   </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}